@import url(./__error-mesage/error-message.css);
.popup__form {
  margin-top: 22px;

}
.popup__form-description {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
 margin-bottom: 9px;
  color: #2F71E5;
}
